[build]
  command = "npm run build"
  publish = "dist"
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF -- . ':(exclude)README.md' ':(exclude)docs/'"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
