<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    {{#each css}}
        <link rel="stylesheet" href="css/{{this}}.css">
    {{/each}}

</head>
<body>

{{{body}}}

{{#each script}}
    <script src="js/{{this}}.js" defer></script>
{{/each}}

</body>
</html>
