<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    {{#each css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
<body>
{{> @partial-block}}

{{#each script}}
    <script type="module" src="{{this}}"></script>
{{/each}}
</body>
</html>
